<div class="div_cp">
	О нас
</div>
<div class="div_st">
	<ul>Для чего это все?
		<li>Мы постарались сделать доступ к расписанию максимально простым и удобным</li>
		<li>Наш сайт позволяет создавать, редактировать, а затем загружать на телефон любые расписания!</li>
	</ul>
	
	<ul> Что будет
		<li>Android-приложение</li>
		<li>Экспорт в pdf, xls</li>
		<li>Связь с разработчиками)</li>
	</ul>
</div>