<h3>
	Добро пожаловать в панель управления!
	<%= link_to 'Выйти', logout_path, method: :delete, class: 'btn btn-danger inline' %>
</h3>

<ul>Перейти к редактированию:
	<li><a href="universities">Учебные заведения и факультеты</a></li>
	<li><a href="groups">Группы и расписания</a></li>
</ul>