<div id="adm" class="div_cp">Добро пожаловать в панель управления!
<%= button_to 'Выйти', logout_path, method: :delete %>
</div>
<div  class="div_st">
<ul>Перейти к редактированию:
	<li><a href="universities/index">Учебные заведения и факультеты</li>
	<li><a href="groups">Группы и расписания</li>
</ul>



</div>