<div class="div_cp">
	Выбор расписания
</div>
<div class="div_st">
<div id="university_div">
	<%= render :template => "universities/select" %>
</div>
<br>
<div id="faculty_div">
</div>
<br>
<div id="course_div">
</div>
<br>
<div id="timetable_div">
</div>
</div>