
<div id="university_div">
	<%= render :template => "universities/select" %>
</div>
<div id="faculty_div">
</div>
<div id="course_div">
</div>
<div id="group_div">
</div>
<div id="timetable_div">
</div>