<div class="group_name">
	<% if session[:user_id] %>
		<%= link_to group.name, edit_group_path(group) %>
	<% else %>
		<%= link_to group.name, group %>
	<% end %>
</div>
<br>
<div><%= render "week", :group => group  %>
</div>