<% course = Course.find(@group.course_id) %>
<% fac = Faculty.find(course.faculty_id) %>
<% univ = University.find(fac.university_id) %>
<div class="div_cp">
<%= "Редактирование группы - #{univ.name}, #{fac.name}, #{course.num} курс"%>
</div>
<div class="well well-small">
<%= render 'form' %>

<%= link_to 'Показать', @group %> |
<%= link_to 'Назад', groups_path %>
</div>