@import "bootstrap";
@import "bootstrap-responsive";

html, body{
    margin:0;
    padding:0;
    font-family:Helvetica, Arial, sans-serif;
    background: url(/assets/background.png) #F2F3F8;
}
.cont{
    position:relative;
    max-width:1000px;    
    margin:0 auto;
    min-width:550px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.hero-unit{
    border:1px solid #D4D4D4;    
    margin-bottom: 5px;
     -moz-box-shadow:0 0 10px rgba(0,0,0,0.5);
  -webkit-box-shadow:0 0 10px rgba(0,0,0,0.5);
  box-shadow:0 0 10px rgba(0,0,0,0.5);
}
.hero-unit p{
    padding-top:20px;
    font-size:1em;
    line-height:20px;    
}
.main{
    border:1px solid #D4D4D4;
    margin-top:-15px;
    min-height:200px;
	border-radius: 6px;
    background:#f9f7f7;
    padding: 8px;
     -moz-box-shadow:0 0 10px rgba(0,0,0,0.5);
  -webkit-box-shadow:0 0 10px rgba(0,0,0,0.5);
  box-shadow:0 0 10px rgba(0,0,0,0.5);
  overflow: hidden;
}
select{
    width:80%;
}
.other{
    display:none;
}
#code{
  float: right;
  margin-top:-20px;
  text-align: center;
}
#code img{
  padding-bottom:10px;
}
@media (max-width: 930px){
  .cont {padding: 0;}
}
@media (max-width: 930px) and (min-width: 550px){
  .hero-unit h1 {font-size:40px;}
  .code {height:250px;}
   .footer p span{display:none;} 

}
@media (max-width: 549px){
     .hero-unit p {font: .9em/1.2em "Helvetica Neue",Arial,Helvetica,sans-serif;}
     .divider-vertical {display:none;}
     .other {display:block;} 
     .primary {display:none;}
     .hero-unit h1 {font-size:30px;}
     .code {position: static; width: 100%; float: none; }
}
.table-bordered{    
    word-wrap:break-word; 
    max-width:980px;
    table-layout:fixed;
    margin:0 auto;   
}
.navbar
{
   -moz-box-shadow:0 0 10px rgba(0,0,0,0.5);
  -webkit-box-shadow:0 0 10px rgba(0,0,0,0.5);
  box-shadow:0 0 10px rgba(0,0,0,0.5);
}
td, .td_color_5
{
    background:#DFF0D8;
}
.td_color_0
{
  background:#cbe9f8; 
}
.td_color_1{
    background:#F2DEDE;
}
.td_color_2{
    background:#FCF8E3;
}
.td_color_3{
    background:#D9EDF7;   
}
.td_color_4{
  background:#f8f3bf; 
}

.table thead th
{
	text-align:center;
}
.day
{
    background:#c5c5f6;
}
.sname
{
	font-weight: bold;
}
#ex_b
{
  display: table;
  width: 100%; 
  font-weight: bold;
}
#ex_b div
{
  display: table-cell;
  vertical-align: middle;
}
 .footer{
  margin-top: 15px;
  width: 100%;
  border-radius: 6px;
  -moz-box-shadow:0 0 10px rgba(0,0,0,0.5);
  -webkit-box-shadow:0 0 10px rgba(0,0,0,0.5);
  box-shadow:0 0 10px rgba(0,0,0,0.5);
  height:50px;
  background:#f0eded;
 }
 .footer p{

  padding:15px;
  padding-bottom: 0px;
  font-size:12px;
  color: #959595;
  font-style: italic;
 }
 .footer p span{
  float: right;
 }
 .sub
 {
  display: inline-block;
  max-width: 150px;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  padding: 4px;
  margin: 4px;
 }
 .sub input
 {
  width: 90%;
 }
 .sub select
 {
  width: 95%;
 }
 .day_fields
 {
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  padding: 6px;
 }


.colors{
  float:left;
  width:240px;  
  overflow:hidden;  
  margin:10px;
}
.square{
  float:left;
  display:block;
  width:20px;
  
  border: 1px solid #e3e3e3;
  border-radius: 4px;
}
#share42 a {
  position:relative;
}
#share42 a span {
  display:none;
  position:absolute;
  z-index:10;
  top:0;left:100%;
  height:19px;
  margin-left:5px;
  padding:0 5px;
  background:#FFF;
  border-radius:4px;
  border:1px solid#AAA;
  box-shadow:0 0 5px rgba(0,0,0,0.25);
  text-align:center;
  color:#666;
  font:12px/20px Arial,sans-serif;
}
#share42 a:hover span {
  display:block;
}
#share42 a span:before {
  content:'';
  position:absolute;
  top:50%;
  left:-5px;
  margin-top:-3px;
  width:5px;
  height:7px;
  background:url(data:image/gif;base64,R0lGODlhBQAHAJEDAKqqqsnJyf///////yH5BAEAAAMALAAAAAAFAAcAAAIMnBEXMijiXlts1lkAADs=) no-repeat;
}
#share42 {
  padding: 6px 6px 0; 
  background: #FFF; 
  border: 1px solid #E9E9E9; 
  border-radius: 4px;
}
#share42:hover {
  background: #F6F6F6; 
  border: 1px solid #D4D4D4; 
  box-shadow: 0 0 5px #DDD;
}
#share42 a {
  opacity: 0.5
}
#share42:hover a {
  opacity: 0.7
}
#share42 a:hover {
  opacity: 1
}