<h3>Список университетов</h3>
<table class="table table-striped">

<% @universities.each do |university| %>
  <tr>
    <td><%= university.name %></td>
    <td>
      
      <% if session[:user_id] %>
        <div class='btn-group'>
        <%= link_to 'Редактировать', edit_university_path(university), class: 'btn' %>
        <%= link_to 'Удалить', university, confirm: 'Вы уверены?', method: :delete, class: 'btn btn-danger' %>
        </div>
      <% end %>
    </td>
  </tr>
<% end %>
</table>

<br />
<% if session[:user_id] %>
<%= link_to 'Добавить', new_university_path, class: 'btn btn-primary' %>
<% end %>