<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Расписание</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.0/themes/base/jquery-ui.css" />
</head>
<body>
<div id="content">
<div id="hello"> Добро пожаловать </div>
<br>
	<div class="but"><a href="/">Главная</a></div>
	<div class="but"><a href="/about">О нас</a></div>
	<div class="but_r"><a href="/admin">Админ-панель</a></div>
<br>
<br>
<%= yield %>
</div>
</body>
</html>
